main.login .card {
  height: calc(var(--vh, 1vh) * 100 - 50px);
  padding: 25px 0 10px;
}
main.login .card h1.page-name {
  margin: 0 0 50px;
  color: #555;
  font-size: 25px;
  text-align: center;
}
main.login .card .card-main .card-box {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 30px 20px 20px;
  transition: 0.3s;
}
main.login .card .card-main .card-box h1 {
  font-size: 20px;
  color: #333;
  text-align: center;
}
main.login .card .card-main .card-box .icon {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #28a745;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 27px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #777;
}
main.login .card .card-main .card-box p {
  margin: 10px 0 15px;
  text-align: center;
  font-size: 13px;
  color: #333;
  flex: 1;
}
main.login .card .card-main .card-box ul li a {
  display: block;
  background-color: #28a745;
  color: #fff;
  width: 50%;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  border-radius: 20px;
  font-size: 13px;
}
main.login .card .card-main .card-box:hover {
  transform: scale(1.1);
}
main.login .card .card-main .card-box:not(:first-of-type) {
  margin-top: 50px;
}
main.login .card .card-main .card-box:not(:first-of-type) .icon {
  background-color: #007bff;
}
main.login .card .card-main .card-box:not(:first-of-type) ul li a {
  background-color: #007bff;
}

@media screen and (min-width: 481px) {
  main.login .card {
    width: 620px;
    margin: 50px auto 50px;
  }
  main.login .card h1.page-name {
    margin: 0 0 50px;
  }
  main.login .card .card-main {
    display: flex;
    justify-content: space-between;
  }
  main.login .card .card-main .card-box {
    margin: 0;
    width: 210px;
    height: 200px;
    position: relative;
    padding: 40px 35px 20px;
  }
  main.login .card .card-main .card-box h1 {
    font-size: 20px;
  }
  main.login .card .card-main .card-box .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 27px;
    top: -40px;
  }
  main.login .card .card-main .card-box p {
    margin: 16px 0 10px;
  }
  main.login .card .card-main .card-box:hover {
    transform: scale(1.1);
  }
  main.login .card .card-main .card-box:not(:first-of-type) {
    margin: 0;
  }
}
