main.item-index {
  .card {
    .card-header {
      display: flex;
      justify-content: space-between;
      height: 40px;
      background-color: #dee2e6;
      .left-box {
        .amount {
          line-height: 40px;
          color: #666;
          font-weight: bold;
          padding-left: 15px;
        }
      }
      .right-box {
        display: none;
        ul.link-box {
          height: 100%;
          display: flex;
          position: relative;
          ul.select-menu {
            width: 90px;
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #888;
            position: absolute;
            top: 37px;
            left: 100px;
            z-index: 1;
            display: none;
            li {
              a {
                display: block;
                height: 35px;
                line-height: 35px;
                text-align: center;
                font-size: 12px;
                color: #666;
              }
              a:hover {
                background-color: #eee;
                color: #444;
              }
            }
            li:not(:first-of-type){
              border-top: 2px solid #bbb;
            }
          }
          > li {
            a {
              display: block;
              width: 90px;
              height: 100%;
              border-radius: 2px;
              font-size: 12px;
              text-align: center;
            }
            a.first {
              background-color: #007bff;
              color: #fff;
              line-height: 35px;
            }
            a.second {
              box-sizing: border-box;
              border: 1px solid #888;
              color: #666;
              line-height: 33px;
              .reload-icon {
                margin-right: 5px;
              }
            }
          }
          > li:not(:first-of-type){
            margin-left: 10px;
          }
          .plus-icon, .trash-icon {
            margin-right: 3px;
          }
        }
      }
    }
    .card-main {
      table {
        display: none;
        thead {
          tr {
            th.favorite {
              padding: 0;
            }
            th.stocks, th.price {
              width: 55px;
            }
            th.favorite, th.action {
              width: 65px;
            }
            th.updated_at {
              width: 140px;
            }
          }
        }
        tbody {
          tr {
            td.favorite {
              text-align: center;
              a {
                .star-icon {
                  color: #aaa;
                }
                .star-icon.check {
                  color: #007bff;
                }
              }
              a.auth {
                pointer-events: none;
                cursor: default;
              }
              a.auth:hover {
                opacity: 1;
              }
            }
            td.action {
              display: flex;
              height: 35px;
              align-items: center;
              a {
                display: block;
                width: 30px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                .pen-icon, .trash-icon, .glass-icon {
                  font-size: 11px;
                }
                .pen-icon, .trash-icon {
                  color: #fff;
                }
              }
              a.edit {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                background-color: #28a745;
                border-right: 1px solid #fff;
              }
              a.destroy {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                background-color: #dc3545;
              }
            }
          }
        }
      }
      div.table {
        display: block;
        div.tbody {
          div.tr {
            display: flex;
            height: 50px;
            border-top: 1px solid #ccc;
            position: relative;
            div.favorite {
              width: 40px;
              text-align: center;
              line-height: 50px;
              border-right: 1px solid #ccc;
              a {
                font-size: 16px;
                .star-icon {
                  color: #aaa;
                }
                .star-icon.check {
                  color: #007bff;
                }
              }
              a.auth {
                pointer-events: none;
                cursor: default;
              }
              a.auth:hover {
                opacity: 1;
              }
            }
            div.item-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              padding-left: 15px;
              div.first-row {
                p {
                  height: 100%;
                  line-height: 33px;
                  color: #555;
                  font-size: 13px;
                  font-weight: bold;
                }
              }
              div.second-row {
                display: flex;
                p {
                  color: #555;
                  line-height: 10px;
                  font-size: 12px;
                }
                p:not(:first-of-type){
                  margin-left: 15px;
                }
              }
            }
            div.item-stocks {
              width: 40px;
              border-right: 1px solid #ccc;
              p {
                line-height: 50px;
                color: #555;
                font-size: 18px;
                text-align: center;
              }
            }
            div.action {
              position: absolute;
              min-height: 50px;
              min-width: calc(100vw - 90px);
              right: 40px;
            }
            div.item-destroy {
              width: 40px;
              li {
                list-style: none;
                a {
                  display: block;
                  color: #555;
                  font-size: 16px;
                  line-height: 50px;
                  text-align: center;
                }
              }
            }
          }
          div.tr:last-of-type {
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
main.item-index {
  .card {
    .card-header {
      height: 35px;
      background-color: transparent;
      .left-box {
        .amount {
          line-height: 35px;
        }
      }
      .right-box {
        display: block;
      }
    }
    .card-main {
      table {
        display: table;
      }
      div.table {
        display: none;
      }
    }
  }
}
}