main.log-index {
  .card {
    .card-header {
      display: none;
      justify-content: space-between;
      height: 40px;
      background-color: #dee2e6;
      .left-box {
        .amount {
          line-height: 40px;
          color: #666;
          font-weight: bold;
          padding-left: 15px;
        }
      }
      .right-box {
        display: none;
        ul {
          height: 100%;
          display: flex;
          position: relative;
          li {
            a {
              display: block;
              width: 90px;
              height: 100%;
              border-radius: 2px;
              font-size: 12px;
              text-align: center;
              .trash-icon {
                margin-right: 3px;
              }
            }
            a.first {
              background-color: #007bff;
              color: #fff;
              line-height: 35px;
            }
            a.second {
              box-sizing: border-box;
              border: 1px solid #888;
              color: #666;
              line-height: 33px;
              .reload-icon {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .card-main {
      table {
        display: none;
        thead {
          tr {
            th.type {
              width: 45px;
            }
            th.created_at {
              width: 170px;
            }
            th.action {
              width: 40px;
            }
          }
        }
        tbody {
          tr {
            td.action {
              display: flex;
              height: 35px;
              align-items: center;
              a {
                display: block;
                width: 30px;
                height: 25px;
                background-color: #0089f9;
                line-height: 25px;
                text-align: center;
                border-radius: 2px;
                .glass-icon {
                  font-size: 11px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      div.table {
        display: block;
        div.thead, div.tbody {
          div.tr {
            display: flex;
            height: 50x;
            div.type, div.created_at, div.user_name {
              p {
                line-height: 50px;
                color: #555;
                font-size: 14px;
                padding: 0 10px;
              }
            }
            div.type{
              width: 60px;
            }
            div.user_name {
              width: 70px;
            }
            div.created_at {
              flex: 1;
            }
          }
        }
        div.thead {
          div.tr {
            background-color: #eee;
            font-weight: bold;
            div.type, div.created_at {
              border-right: 1px solid #aaa;
            }
          }
        }
        div.tbody {
          div.tr {
            border-top: 1px solid #ccc;
            position: relative;
            div.type, div.created_at {
              border-right: 1px solid #bbb;
            }
            div.action {
              position: absolute;
              min-height: 50px;
              min-width: 100vw;
              left: 0;
            }
          }
          div.tr:last-of-type {
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  main.log-index {
    .card {
      .card-header {
        display: flex;
        height: 35px;
        background-color: transparent;
        .left-box {
          .amount {
            line-height: 35px;
          }
        }
        .right-box {
          display: block;
        }
      }
      .card-main {
        table {
          display: table;
        }
        div.table {
          display: none;
        }
      }
    }
  }
}