@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* フォントを指定したいところで */

body {
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Rounded Mplus 1c';
  font-family: 'Sawarabi Gothic';
  font-family: 'Noto Sans JP';
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      transition: opacity .3s;
    }
    a:not(.disabled):hover {
      opacity: .8;
    }
    a.disabled {
      cursor: default;
      pointer-events: none;
      opacity: .5;
    }
    p {
      margin: 0;
    }
    h1, p {
      user-select: none;
    }

    //ローディング
    .loader {
      min-width: 100vw;
      min-height: calc(100vh - 100px);
      top: 50px;
      background-color: #fff;
      position: fixed;
      z-index: 997;
      .loading,
      .loading::before,
      .loading::after {
        background: #e95884;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
      }
      .loading {
        color: #e95884;
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 10px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      .loading::before,
      .loading::after {
        position: fixed;
        top: 0;
        content: '';
      }
      .loading::before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      .loading::after {
        left: 1.5em;
      }
      @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
          box-shadow: 0 0;
          height: 4em;
        }
        40% {
          box-shadow: 0 -2em;
          height: 5em;
        }
      }
      @keyframes load1 {
        0%,
        80%,
        100% {
          box-shadow: 0 0;
          height: 4em;
        }
        40% {
          box-shadow: 0 -2em;
          height: 5em;
        }
      }
    }
    .loader.hidden {
      animation-name: opacityDown;
      animation-duration: .3s;
      animation-fill-mode: forwards;
    }
    .loader.none {
      display: none;
    }
    @keyframes opacityDown {
      0% { opacity: 1; }
      100%   { opacity: 0; }
    }

    // メッセージ
    .message {
      display: none;
      opacity: 0;
      position: fixed;
      width: 25rem;
      height: 3rem;
      border-radius: 0.25rem;
      z-index: 7;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      p {
        margin: 0;
        line-height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .check-icon {
          color: #3db93d;
          margin-right: .5rem;
        }
        .cross-icon {
          color: #d75865;
          margin-right: .5rem;
        }
        span {
          color: #666;
        }
      }
    }
    .message.success {
      border: 1px solid #3db93d;
      background-color: #b8e5c3;
    }
    .message.error {
      border: 1px solid #bb676f;
      background-color: #e5c3c6;
    }
    .message.animation {
      display: block;
      animation: messageIn 2.5s forwards;
    }
    @keyframes messageIn{
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
        transform: translate(-50%, 10px);
      }
      80% {
        opacity: 1;
        transform: translate(-50%, 10px);
      }
      100% {
        opacity: 0;
      }
    }

    // モーダルウィンドウ
    .modal-area {
      display: none;
      opacity: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .modal-mask {
        width: 100%;
        height: 100%;
        background-color: #1e1e1ed6;
      }
      .modal-contena {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: 95%;
        background-color: #fff;
        overflow: hidden;
        .modal-header {
          background-color: #007bff;
          height: 3rem;
        }
        .close-modal {
          position: absolute;
          top: 15px;
          right: 20px;
          font-size: 20px;
          cursor: pointer;
        }
        .modal-box {
          padding: 10px 20px;
          h1.modal-name {
            color: #555;
            font-size: 20px;
            margin-bottom: 40px;
          }
        }
      }
      .modal-contena.narrow {
        max-width: 400px;
      }
      .modal-contena.wide {
        max-width: 800px;
      }
    }
    .modal-area.show {
      display: block;
      animation: fadeIn .3s forwards;
    }
    .modal-area.hide {
      display: block;
      animation: fadeOut .3s forwards;
    }
    @keyframes fadeIn{
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeOut{
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    // ヘッダー
    header {
      position: fixed;
      top: 0;
      width: 100vw;
      box-sizing: border-box;
      height: 50px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      background-color: #007bff;
      box-shadow: 0 8px 8px -5px rgba(0,0,0,.25)!important;
      .left-box {
        display: flex;
        img {
          height: 30px;
        }
        .logo-name-box {
          height: 30px;
          margin-left: 7px;
          p {
            line-height: 30px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
      .right-box {
        height: 100%;
        ul.link-box {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          li {
            pointer-events: none;
            position: relative;
            a {
              display: block;
              flex-direction: column;
              height: 50px;
              width: 50px;
              border-radius: none;
              text-align: center;
              color: #fff;
              font-size: 14px;
              pointer-events: auto;
              span {
                display: block;
                text-align: center;
              }
              span:first-of-type {
                line-height: 35px;
                font-size: 19px;
              }
              span:last-of-type {
                font-size: 10px;
                transform: scale(.85);
                line-height: 2px;
              }
            }
            a:hover {
              opacity: 1;
            }
          }
          li.router-link.selected a {
            pointer-events: none;
            color: #007bff;
            background-color: #fff;
          }
          li.router-link.selected a:hover {
            cursor: default;
          }
          li.router-link:not(.selected):hover:after {
            content: '';
            width: 0;
            height: 4px;
            border-radius: 2px;
            display: inline-block;
            background-color: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            animation: underLine .3s forwards;
          }
          @keyframes underLine{
            0% {
              width: 0;
            }
            100% {
              width: 70%;
            }
          }
        }
      }
    }

    // メイン
    main {
      background-color: #f4f6f9;
      flex: 1;
      margin-top: 50px;
      width: 100vw;
    }
    main:not(.login) {
      .card {
        position: fixed;
        height: calc(100vh - 150px);
        background-color: #fff;
        overflow: auto;
        h1.page-name {
          display: none;
          margin: 0 0 35px;
          padding: 0 20px;
          color: #555;
          font-size: 20px;
        }
        .card-main {
          margin: 0;
          table {
            display: none;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ccc;
            tr {
              height: 35px;
              text-align: left;
            }
            th, td {
              padding: 0 15px;
              color: #555;
              font-size: 12px;
            }
            td.no-data {
              text-align: center;
            }
            thead {
              tr {
                background-color: #dee2e6;
              }
            }
            tbody {
              tr:not(:first-of-type){
                border-top: 1px solid #dee2e6;
              }
            }
          }
          div.table {
            display: block;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            .thead {
              div.tr {
                display: flex;
                height: 55px;
              }
            }
            .tbody {
              div.tr {
                display: flex;
                height: 55px;
                border-top: 1px solid #ccc;
                position: relative;
              }
              .no-data {
                position: fixed;
                width: 100vw;
                height: calc(100vh - 150px);
                top: 50px;
                p {
                  text-align: center;
                  color: #555;
                  line-height: calc(100vh - 150px);
                }
              }
            }
          }
        }
        .pagination {
          position: fixed;
          bottom: 50px;
          height: 50px;
          padding: 0 20px;
          box-sizing: border-box;
          background-color: #007bff;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          display: flex;
          // margin: 15px 0;
          .amount {
            color: #fff;
          }
          .page-box {
            display: flex;
            align-items: center;
            a {
              width: 30px;
              height: 30px;
              text-align: center;
              font-size: 13px;
              line-height: 30px;
              // border: 1px solid #fff;
              background-color: #fff;
              color: #007bff;
              border-radius: 3px;
            }
            p {
              line-height: 30px;
              font-size: 14px;
              color: #fff;
              margin: 0 13px;
            }
          }
        }
      }
      .bottom-header {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #333;
        width: 100vw;
        height: 50px;
        ul {
          display: flex;
          justify-content: space-around;
          li {
            a {
              display: block;
              height: 50px;
              line-height: 50px;
              color: #ccc;
              span {
                display: block;
                text-align: center;
              }
              span:first-of-type {
                line-height: 35px;
                font-size: 19px;
              }
              span:last-of-type {
                font-size: 10px;
                line-height: 2px;
                transform: scale(.85);
              }
            }
          }
        }
      }
    }

    // フッター
    footer {
      display: none;
      height: 60px;
      line-height: 60px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      background: #1e1e26;
    }
  }
}

@media screen and (min-width: 481px) {
  body {
    .wrapper {

      // ローディング
      .loader {
        background-color: #f4f6f9;
        min-height: calc(100vh - 50px);
      }

      // モーダルウィンドウ
      .modal-area {
        .modal-contena {
          width: 70%;
          max-width: 600px;
          .modal-box {
            padding: 20px 45px;
            h1.modal-name {
              font-size: 25px;
            }
          }
        }
      }
  
      // ヘッダー
      header {
        padding: 0 40px;
        .left-box {
          img {
            height: 40px;
          }
          .logo-name-box {
            height: 40px;
            margin-left: 10px;
            p {
              line-height: 40px;
              font-size: 18px;
            }
          }
        }
        .right-box {
          ul.link-box {
            li {
              a {
                padding: 0 20px;
                height: 32px;
                width: auto;
                line-height: 32px;
                border-radius: 16px;
                span {
                  display: inline;
                  text-align: left;
                }
                span:first-of-type {
                  margin-right: 5px;
                  line-height: 32px;
                  font-size: 14px;
                }
                span:last-of-type {
                  line-height: 32px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
  
      // メイン
      main {
        background-color: #f4f6f9;
        flex: 1;
        margin-top: 50px;
      }
      main:not(.login) {
        .card {
          position: inherit;
          width: 800px;
          height: auto;
          margin: 50px auto 50px;
          padding: 40px 50px;
          box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
          border: 0 solid rgba(0,0,0,.125);
          border-radius: 0.25rem;
          h1.page-name {
            display: block;
          }
          .card-main {
            margin-top: 10px;
            table {
              display: table;
            }
            div.table {
              display: none;
            }
          }
          .pagination {
            position: initial;
            justify-content: center;
            background-color: transparent;
            margin: 15px 0;
            .amount {
              display: none;
            }
            .page-box {
              a {
                border: 1px solid #bbb;
              }
              p {
                color: #666;
              }
            }
          }
        }
        .card.narrow {
          width: 500px;
        }
        .bottom-header {
          display: none;
        }
      }
  
      // フッター
      footer {
        display: block;
      }
    }
  }
  
}