.log {
  margin-bottom: 20px;
  .card {
    .pdf-button {
      list-style: none;
      a {
        margin: 20px 20px 0 auto;
        display: block;
        width: 100px;
        height: 40px;
        color: #fff;
        border-radius: 25px;
        font-size: 13px;
        text-align: center;
        line-height: 40px;
        background-color: red;
      }
    }
    .card-main {
      height: 480px;
      overflow-y: auto;
      h1 {
        font-size: 25px;
        text-align: center;
        color: #333;
        width: 150px;
        margin: 20px auto;
        border-bottom: 1px solid #666;
      }
      .date {
        color: #333;
        border-bottom: 1px solid #666;
        margin-bottom: 10px;
        width: 230px;
        font-size: 15px;
        text-align: center;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        border: none;
        tr {
          height: 30px;
          text-align: left;
        }
        td {
          padding-right: 15px;
          color: #555;
        }
        th, td {
          padding-left: 15px;
          line-height: 30px;
          color: #333;
        }
        thead {
          tr {
            font-size: 10px;
            background-color: #ddd;
            th {
              font-weight: normal;
              border: 1px solid #444;
            }
          }
        }
        tbody {
          tr{
            font-size: 10px;
            td.price, td.stocks, td.action, td.amount {
              width: 50px;
            }
            td {
              border: 1px solid #444;
            }
            td.amount {
              input {
                width: 50px;
                text-align: center;
                font-size: 13px;
                border: 1px solid #bbb;
                border-radius: 2px;
                padding: 4px 2px 3px;
              }
              input::-webkit-inner-spin-button,
              input::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance:textfield;
              }
            }
          }
          tr.sum-row {
            td {
              border: none;
            }
            td.last-sum {
              border: 1px solid #444;
            }
          }
        }
      }
      ul {
        margin-top: 20px;
        li {
          a {
            display: block;
            width: 80px;
            background-color: #007bff;
            color: #fff;
            border-radius: 2px;
            font-size: 13px;
            text-align: center;
            padding: 7px 0;
            margin: 0 0 0 auto;
          }
        }
      }
    }
  }
}