main.log-index .card .card-header {
  display: none;
  justify-content: space-between;
  height: 40px;
  background-color: #dee2e6;
}
main.log-index .card .card-header .left-box .amount {
  line-height: 40px;
  color: #666;
  font-weight: bold;
  padding-left: 15px;
}
main.log-index .card .card-header .right-box {
  display: none;
}
main.log-index .card .card-header .right-box ul {
  height: 100%;
  display: flex;
  position: relative;
}
main.log-index .card .card-header .right-box ul li a {
  display: block;
  width: 90px;
  height: 100%;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
}
main.log-index .card .card-header .right-box ul li a .trash-icon {
  margin-right: 3px;
}
main.log-index .card .card-header .right-box ul li a.first {
  background-color: #007bff;
  color: #fff;
  line-height: 35px;
}
main.log-index .card .card-header .right-box ul li a.second {
  box-sizing: border-box;
  border: 1px solid #888;
  color: #666;
  line-height: 33px;
}
main.log-index .card .card-header .right-box ul li a.second .reload-icon {
  margin-right: 5px;
}
main.log-index .card .card-main table {
  display: none;
}
main.log-index .card .card-main table thead tr th.type {
  width: 45px;
}
main.log-index .card .card-main table thead tr th.created_at {
  width: 170px;
}
main.log-index .card .card-main table thead tr th.action {
  width: 40px;
}
main.log-index .card .card-main table tbody tr td.action {
  display: flex;
  height: 35px;
  align-items: center;
}
main.log-index .card .card-main table tbody tr td.action a {
  display: block;
  width: 30px;
  height: 25px;
  background-color: #0089f9;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}
main.log-index .card .card-main table tbody tr td.action a .glass-icon {
  font-size: 11px;
  color: #fff;
}
main.log-index .card .card-main div.table {
  display: block;
}
main.log-index .card .card-main div.table div.thead div.tr, main.log-index .card .card-main div.table div.tbody div.tr {
  display: flex;
  height: 50x;
}
main.log-index .card .card-main div.table div.thead div.tr div.type p, main.log-index .card .card-main div.table div.thead div.tr div.created_at p, main.log-index .card .card-main div.table div.thead div.tr div.user_name p, main.log-index .card .card-main div.table div.tbody div.tr div.type p, main.log-index .card .card-main div.table div.tbody div.tr div.created_at p, main.log-index .card .card-main div.table div.tbody div.tr div.user_name p {
  line-height: 50px;
  color: #555;
  font-size: 14px;
  padding: 0 10px;
}
main.log-index .card .card-main div.table div.thead div.tr div.type, main.log-index .card .card-main div.table div.tbody div.tr div.type {
  width: 60px;
}
main.log-index .card .card-main div.table div.thead div.tr div.user_name, main.log-index .card .card-main div.table div.tbody div.tr div.user_name {
  width: 70px;
}
main.log-index .card .card-main div.table div.thead div.tr div.created_at, main.log-index .card .card-main div.table div.tbody div.tr div.created_at {
  flex: 1;
}
main.log-index .card .card-main div.table div.thead div.tr {
  background-color: #eee;
  font-weight: bold;
}
main.log-index .card .card-main div.table div.thead div.tr div.type, main.log-index .card .card-main div.table div.thead div.tr div.created_at {
  border-right: 1px solid #aaa;
}
main.log-index .card .card-main div.table div.tbody div.tr {
  border-top: 1px solid #ccc;
  position: relative;
}
main.log-index .card .card-main div.table div.tbody div.tr div.type, main.log-index .card .card-main div.table div.tbody div.tr div.created_at {
  border-right: 1px solid #bbb;
}
main.log-index .card .card-main div.table div.tbody div.tr div.action {
  position: absolute;
  min-height: 50px;
  min-width: 100vw;
  left: 0;
}
main.log-index .card .card-main div.table div.tbody div.tr:last-of-type {
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 481px) {
  main.log-index .card .card-header {
    display: flex;
    height: 35px;
    background-color: transparent;
  }
  main.log-index .card .card-header .left-box .amount {
    line-height: 35px;
  }
  main.log-index .card .card-header .right-box {
    display: block;
  }
  main.log-index .card .card-main table {
    display: table;
  }
  main.log-index .card .card-main div.table {
    display: none;
  }
}
