.stock-confirm {
  position: relative;
}
.stock-confirm .card-main {
  margin-bottom: 20px;
}
.stock-confirm .card-main h1 {
  font-size: 25px;
  text-align: center;
  color: #333;
  width: 150px;
  margin: 50px auto;
  border-bottom: 1px solid #666;
}
.stock-confirm .card-main .date {
  color: #333;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  width: 160px;
  font-size: 15px;
  text-align: center;
}
.stock-confirm .card-main table th, .stock-confirm .card-main table td {
  border: 1px solid #444;
  color: #333;
  padding: 0 15px;
}
.stock-confirm .card-main table thead tr {
  background-color: #ddd;
}
.stock-confirm .sub-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1;
}
.stock-confirm .sub-loader .loading,
.stock-confirm .sub-loader .loading::before,
.stock-confirm .sub-loader .loading::after {
  background: #e95884;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.stock-confirm .sub-loader .loading {
  color: #e95884;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 10px;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.stock-confirm .sub-loader .loading::before,
.stock-confirm .sub-loader .loading::after {
  position: fixed;
  top: 0;
  content: "";
}
.stock-confirm .sub-loader .loading::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.stock-confirm .sub-loader .loading::after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.stock-confirm .sub-loader.none {
  display: none;
}
