.log {
  margin-bottom: 20px;
}
.log .card .pdf-button {
  list-style: none;
}
.log .card .pdf-button a {
  margin: 20px 20px 0 auto;
  display: block;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 25px;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  background-color: red;
}
.log .card .card-main {
  height: 480px;
  overflow-y: auto;
}
.log .card .card-main h1 {
  font-size: 25px;
  text-align: center;
  color: #333;
  width: 150px;
  margin: 20px auto;
  border-bottom: 1px solid #666;
}
.log .card .card-main .date {
  color: #333;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  width: 230px;
  font-size: 15px;
  text-align: center;
}
.log .card .card-main table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}
.log .card .card-main table tr {
  height: 30px;
  text-align: left;
}
.log .card .card-main table td {
  padding-right: 15px;
  color: #555;
}
.log .card .card-main table th, .log .card .card-main table td {
  padding-left: 15px;
  line-height: 30px;
  color: #333;
}
.log .card .card-main table thead tr {
  font-size: 10px;
  background-color: #ddd;
}
.log .card .card-main table thead tr th {
  font-weight: normal;
  border: 1px solid #444;
}
.log .card .card-main table tbody tr {
  font-size: 10px;
}
.log .card .card-main table tbody tr td.price, .log .card .card-main table tbody tr td.stocks, .log .card .card-main table tbody tr td.action, .log .card .card-main table tbody tr td.amount {
  width: 50px;
}
.log .card .card-main table tbody tr td {
  border: 1px solid #444;
}
.log .card .card-main table tbody tr td.amount input {
  width: 50px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 4px 2px 3px;
}
.log .card .card-main table tbody tr td.amount input::-webkit-inner-spin-button,
.log .card .card-main table tbody tr td.amount input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.log .card .card-main table tbody tr.sum-row td {
  border: none;
}
.log .card .card-main table tbody tr.sum-row td.last-sum {
  border: 1px solid #444;
}
.log .card .card-main ul {
  margin-top: 20px;
}
.log .card .card-main ul li a {
  display: block;
  width: 80px;
  background-color: #007bff;
  color: #fff;
  border-radius: 2px;
  font-size: 13px;
  text-align: center;
  padding: 7px 0;
  margin: 0 0 0 auto;
}
