.stock-confirm {
  position: relative;
  .card-main {
    margin-bottom: 20px;
    h1 {
      font-size: 25px;
      text-align: center;
      color: #333;
      width: 150px;
      margin: 50px auto;
      border-bottom: 1px solid #666;
    }
    .date {
      color: #333;
      border-bottom: 1px solid #666;
      margin-bottom: 10px;
      width: 160px;
      font-size: 15px;
      text-align: center;
    }
    table {
      th, td {
        border: 1px solid #444;
        color: #333;
        padding: 0 15px;
      }
      thead {
        tr {
          background-color: #ddd;
        }
      }
    }
  }
  //ローディング
  .sub-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    opacity: .8;
    z-index: 1;
    .loading,
    .loading::before,
    .loading::after {
      background: #e95884;
      -webkit-animation: load1 1s infinite ease-in-out;
      animation: load1 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
    }
    .loading {
      color: #e95884;
      position: absolute;
      top: 45%;
      left: 50%;
      font-size: 10px;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .loading::before,
    .loading::after {
      position: fixed;
      top: 0;
      content: '';
    }
    .loading::before {
      left: -1.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .loading::after {
      left: 1.5em;
    }
    @-webkit-keyframes load1 {
      0%,
      80%,
      100% {
        box-shadow: 0 0;
        height: 4em;
      }
      40% {
        box-shadow: 0 -2em;
        height: 5em;
      }
    }
    @keyframes load1 {
      0%,
      80%,
      100% {
        box-shadow: 0 0;
        height: 4em;
      }
      40% {
        box-shadow: 0 -2em;
        height: 5em;
      }
    }
  }
  .sub-loader.none {
    display: none;
  }
}